name: env-secrets
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: build
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - run: dotnet build src/TestClassLibrary.sln
        env:
          API_HOST_URL: ${{ secrets.API_HOST_URL }}
      - uses: actions/upload-artifact@v2
        with: 
          name: assets-for-download
          path: src/TestClassLibrary/bin/Debug/netcoreapp3.1/TestClassLibrary.dll